.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.card .container {
  display: inline-flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 11px 9px 50px 5px rgba(17, 37, 212, 0.1);
}

.card .container .result {
  width: 375px;
  height: 355px;
  padding: 25px 60px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card .container .result .result-header {
  margin-bottom: 25px;
}

.card .container .result .result-header .title {
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.card .container .result .result-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card .container .result .result-content .scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  margin-bottom: 25px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.5), hsla(241, 72%, 46%, 0));
}

.card .container .result .result-content .scoreboard strong {
  padding-bottom: 5px;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.card .container .result .result-content .scoreboard span {
  color: hsla(241, 100%, 89%, 50%);
  font-size: 18px;
  font-weight: 700;
}

.card .container .result .result-content .grade {
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.card .container .result .result-content .explanation {
  color: hsl(241, 100%, 89%);
  font-weight: 500;
  line-height: 20px;
}

.card .container .summary {
  padding: 30px;
}

.card .container .summary .summary-header {
  margin-bottom: 30px;
}

.card .container .summary .summary-header .title {
  font-size: 18px;
}

.card .container .summary .summary-content .summary-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}

.card .container .summary .summary-content .summary-list .summary-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  border-radius: 8px;
}

.card .container .summary .summary-content .summary-list .summary-item.reaction {
  background-color: hsl(0, 100%, 67%, 0.05);
}

.card .container .summary .summary-content .summary-list .summary-item.reaction .part {
  color: hsl(0, 100%, 67%);
}

.card .container .summary .summary-content .summary-list .summary-item.memory {
  background-color: hsl(39, 100%, 56%, 0.05);
}

.card .container .summary .summary-content .summary-list .summary-item.memory .part {
  color: hsl(39, 100%, 56%);
}

.card .container .summary .summary-content .summary-list .summary-item.verbal {
  background-color: hsl(166, 100%, 37%, 0.05);
}

.card .container .summary .summary-content .summary-list .summary-item.verbal .part {
  color: hsl(166, 100%, 37%);
}

.card .container .summary .summary-content .summary-list .summary-item.visual {
  background-color: hsl(234, 85%, 45%, 0.05);
}

.card .container .summary .summary-content .summary-list .summary-item.visual .part {
  color: hsl(234, 85%, 45%);
}

.card .container .summary .summary-content .summary-list .summary-item dl {
  display: flex;
  width: 100%;
}

.card .container .summary .summary-content .summary-list .summary-item dl dd {
  line-height: 20px;
}

.card .container .summary .summary-content .summary-list .summary-item dl dt {
  display: none;
}

.card .container .summary .summary-content .summary-list .summary-item dl .icon {
  margin-right: 10px;
}

.card .container .summary .summary-content .summary-list .summary-item dl .part {
  flex-grow: 1;
  font-weight: 700;
}

.card .container .summary .summary-content .summary-list .summary-item dl .score {
  font-weight: 500;
}

.card .container .summary .summary-content .summary-list .summary-item dl .score span {
  color: hsl(224, 30%, 27%, 50%);
}

.card .container .summary .summary-content .continue-button {
  width: 100%;
  height: 55px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.card .container .summary .summary-content .continue-button:active,
.card .container .summary .summary-content .continue-button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (min-width: 1440px) {
  .card .container {
    flex-direction: row;
  }

  .card .container .result {
    width: 325px;
    height: 100%;
    padding: 35px 50px;
    border-radius: 30px;
  }

  .card .container .result .result-header .title {
    font-size: 22px;
  }

  .card .container .result .result-header,
  .card .container .result .result-content .scoreboard {
    margin-bottom: 30px;
  }

  .card .container .result .result-content .scoreboard {
    width: 175px;
    height: 175px;
  }

  .card .container .result .result-content .scoreboard strong {
    font-size: 65px;
    line-height: 1;
  }

  .card .container .result .result-content .grade {
    font-size: 24px;
  }

  .card .container .result .result-content .explanation {
    text-align: center;
  }

  .card .container .summary {
    width: 285px;
    padding: 35px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .card .container .summary .summary-header {
    margin-bottom: 25px;
  }

  .card .container .summary .summary-header .title {
    font-size: 22px;
  }

  .card .container .summary .summary-content .summary-list {
    gap: 15px;
    margin-bottom: 30px;
  }

  .card .container .summary .summary-content .summary-list .summary-item {
    height: 45px;
    padding: 0 15px;
  }

  .card .container .summary .summary-content .continue-button {
    height: 45px;
    font-size: 15px;
  }
}
